.main-navigation {
	float: right;
	display: inline-block;
	padding: 35px 60px 25px;
	width: 65%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: right;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: inline-block;
		position: relative;
		margin-left: 10%;

		&:first-child {
			&:hover > a,
			&.focus > a {
				&:after {
					content: '';
					background: #FF1B1B;
					opacity: .7;
					width: 100%;
					position: absolute;
					height: 10px;
					left: 0;
					bottom: 2px;
					z-index: -1;
				}
			}
		}

		&:nth-child(2) {
			&:hover > a,
			&.focus > a {
				&:after {
					content: '';
					background: #262A9E;
					opacity: .7;
					width: 100%;
					position: absolute;
					height: 10px;
					left: 0;
					bottom: 2px;
					z-index: -1;
				}
			}
		}

		&:nth-child(3) {
			&:hover > a,
			&.focus > a {
				&:after {
					content: '';
					background: #FFBF32;
					opacity: .7;
					width: 100%;
					position: absolute;
					height: 10px;
					left: 0;
					bottom: 2px;
					z-index: -1;
				}
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: #000000;
		font-family: Avenir;
		text-transform: uppercase;
		font-size: 17px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
