body {
	padding-top: 100px;

	.section-number {
		font-size: 20px;
		display: inline-block;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			border-top: 3px solid #000;
			width: 70px;
			top: 13px;
			left: 48px;
		}
	}

	.consensus-button {
		background: #FF1B1B;
		color: #ffffff;
		padding: 10px 30px;
		text-decoration: none;
	}

	.grey {
		background: #eeeeee;
	}

	.section-title {
		display: inline-block;
		margin-left: 120px;
		text-transform: uppercase;
		font-size: 20px;
	}

	.section-subtitle {
		font-weight: 900;
		font-size: 40px;
		max-width: 415px;
		padding-top: 25px;

		&.smaller {
			font-size: 35px;
		}
	}

	.sticky {
		display: block;
	}

	.post,
	.page {
		margin: 0 0 1.5em;
	}

	.updated:not(.published) {
		display: none;
	}

	.page-content,
	.entry-content,
	.entry-summary {
		margin: 1.5em 0 0;
	}

	.page-links {
		clear: both;
		margin: 0 0 1.5em;
	}

	&.admin-bar {
		padding-top: 132px;
	}
}
